PSCWindowsService/Service References/CacheService/MemoryCacheService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WsqImage">
    <xs:sequence>
      <xs:element name="_x003C_Content_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
      <xs:element name="_x003C_PixelFormat_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_XRes_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_XSize_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_YRes_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_YSize_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsqImage" nillable="true" type="tns:WsqImage" />
</xs:schema>