CommonService/Service References/WSQImageService/WSQImageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSQImageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWSQImageService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BiometricService/WSQImageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/BiometricService/WSQImageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BiometricService/WSQImageService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSQImageService_SaveWSQImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWSQImage" />
  </wsdl:message>
  <wsdl:message name="IWSQImageService_SaveWSQImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWSQImageResponse" />
  </wsdl:message>
  <wsdl:message name="IWSQImageService_processEnrolledData_InputMessage">
    <wsdl:part name="parameters" element="tns:processEnrolledData" />
  </wsdl:message>
  <wsdl:message name="IWSQImageService_processEnrolledData_OutputMessage">
    <wsdl:part name="parameters" element="tns:processEnrolledDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWSQImageService_GetTemplatesFromWSQImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatesFromWSQImage" />
  </wsdl:message>
  <wsdl:message name="IWSQImageService_GetTemplatesFromWSQImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatesFromWSQImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSQImageService">
    <wsdl:operation name="SaveWSQImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSQImageService/SaveWSQImage" message="tns:IWSQImageService_SaveWSQImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSQImageService/SaveWSQImageResponse" message="tns:IWSQImageService_SaveWSQImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processEnrolledData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSQImageService/processEnrolledData" message="tns:IWSQImageService_processEnrolledData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSQImageService/processEnrolledDataResponse" message="tns:IWSQImageService_processEnrolledData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplatesFromWSQImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSQImageService/GetTemplatesFromWSQImage" message="tns:IWSQImageService_GetTemplatesFromWSQImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSQImageService/GetTemplatesFromWSQImageResponse" message="tns:IWSQImageService_GetTemplatesFromWSQImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSQImageService" type="tns:IWSQImageService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWSQImageService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveWSQImage">
      <soap:operation soapAction="http://tempuri.org/IWSQImageService/SaveWSQImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processEnrolledData">
      <soap:operation soapAction="http://tempuri.org/IWSQImageService/processEnrolledData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplatesFromWSQImage">
      <soap:operation soapAction="http://tempuri.org/IWSQImageService/GetTemplatesFromWSQImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSQImageService">
    <wsdl:port name="BasicHttpBinding_IWSQImageService" binding="tns:BasicHttpBinding_IWSQImageService">
      <soap:address location="http://localhost/BiometricService/WSQImageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>