biooffice/Service References/CacheService/MemoryCacheService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://psc.com.kw" elementFormDefault="qualified" targetNamespace="http://psc.com.kw" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CommonService/MemoryCacheService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FingerPrintDataContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fingersCollection" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FingerPrintDataContract" nillable="true" type="tns:FingerPrintDataContract" />
</xs:schema>