PSCWindowsService/Service References/DatabaseService/DbDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DbDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IDbDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://biooffice/WCFService/DbDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://biooffice/WCFService/DbDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://biooffice/WCFService/DbDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbDataService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IDbDataService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDbDataService_SendImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendImage" />
  </wsdl:message>
  <wsdl:message name="IDbDataService_SendImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbDataService">
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbDataService/GetImage" message="tns:IDbDataService_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbDataService/GetImageResponse" message="tns:IDbDataService_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbDataService/SendImage" message="tns:IDbDataService_SendImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbDataService/SendImageResponse" message="tns:IDbDataService_SendImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDbDataService" type="tns:IDbDataService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IDbDataService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IDbDataService/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendImage">
      <soap:operation soapAction="http://tempuri.org/IDbDataService/SendImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DbDataService">
    <wsdl:port name="BasicHttpBinding_IDbDataService" binding="tns:BasicHttpBinding_IDbDataService">
      <soap:address location="http://biooffice/WCFService/DbDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>