DAO/Service References/ConfigurationService/ConfigurationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getAppSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAppSettingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getConnectionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>